<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">최신글 목록</h5>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글 공개 여부</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center"  th:each="article, loop : ${latestArticles}">
            <td th:text="${loop.count}"></td>
            <td class="text-start">
                <a th:href="@{|/post/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td>
                <span th:if="${article.isPublished}">공개</span>
                <span th:unless="${article.isPublished}">비공개</span>
            </td>
            <td>
                <a th:href="@{'/b/' + ${article.author.username}}">
                    <span th:text="${article.author.username}"></span>
                </a>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/post/write}" class="btn btn-primary">글 작성</a>
    <a th:href="@{/post/list}" class="btn btn-primary">전체 글 목록</a>
</div>
</html>