<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
           <!--articleList에 저장된 데이터를 하나씩 꺼내서 article 객체에 대입-->
        <tr th:each="article, loop : ${articleList}">
               <!--번호 출력-->
            <td th:text="${loop.count}"></td>
               <!--article_detail 링크를 제목에 추가-->
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
               <!--#temporals.format 이용해서 날짜 출력-->
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/post/write}" class="btn btn-primary">글 작성</a>
</div>
</html>